body {
    background: linear-gradient(to right, rgba(225, 165, 204, 0.943), rgb(117, 218, 141));
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.center {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px; /* pour éviter que le texte touche les bords sur mobile */
}

