*{
    padding: 0;
    margin: 5px;
    margin-left: 10px;
}

h4,h5,h6{
    margin-bottom: 10px;
    font-size: 20px;
}

ul li,ul p {
    margin-bottom: 10px;
    font-size: 15px;
}

body{
    background: linear-gradient( to right,rgba(225, 165, 204, 0.943), rgb(117, 218, 141));
}