body
{
    background: linear-gradient( to right,rgba(225, 165, 204, 0.943), rgb(117, 218, 141));
}

main
{
    margin: 5%;
}

h1
{
    
    margin-top: 2%;
    font-size: 3rem;
    color:#ab296a;
}

input:checked
{
    background-color: green !important;
    border-color: green !important;

}



.center{
    display: flex;
    justify-content: center;
}

input[type="checkbox"] {
  transform: scale(1.5); /* agrandit la checkbox (1 = taille normale) */
  margin: 5px; /* pour éviter que ça déborde */
}